body{
  background-color: lightgray;
}

.caja-eventos{
  height: 200px;
  width: 200px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adentro{
  background-color: chocolate;
}

.resaltar-texto{
  text-shadow: 0px 0px 5px red;
}

.movement{
  color: darkslategray;
}
